nav
  navbar-default 
  div
    h1 My Website!
    img(src='../assets/image/recycle.png')
  ul
    li
      a(href="/") Home
    li
      a Page 1
    li
      a Page 2
body
  a(href="/") Home
  if locals.user
    a(href="/user") Profile
    a(href="/logout") Log Out
  else
    a(href="/login") Log In

block content